# project specific
softrend*
temp/

# macOS
.DS_Store
.AppleDouble
.LSOverride
__MACOSX/

# Xcode
*.xcodeproj
*.xcworkspace
.idea/

# VScode
.vscode/

# Build artifacts
*.o
*.a
*.dylib
*.out
build/
bin/

# Clang
*.dSYM/

# objdump
*.dump
